[submodule "Week2/--force"]
	path = Week2/--force
	url = git@github.com:ZachCraw/Git302Prac.git
[submodule "GIT302PRAC"]
	path = Week2/Git302Prac
	url = git@github.com:ZachCraw/Git302Prac.git
[submodule "CAB302HOMEWORK"]
	path = Homework/CAB302HOMEWORK
	url = git@github.com:ZachCraw/CAB302HOMEWORK.git
